{% extends "base.html" %}
{% block content %}
<main id="item" class="container-fluid">

  <section class="stat-block" data-theme="light">
    <div class="header">
      <h1 class="title">{{name}}</h1>
      <div>
        {% if data.category == 'rune' %}{{'ItemCategory.Rune'|l}}{% else %}{{'Entity.Item'|l}}{% endif %} {{data.level|default: '0'}}{% if data.types.count > 1 %}+{% endif %}
      </div>
    </div>

    <div class="traits">
      {% if data.rarity and data.rarity != 'common' %}
      <a class="trait trait-rarity-{{data.rarity}}" href="/trait/{{data.rarity}}">{{data.rarity|map: 'Rarity'}}</a>
      {% endif %}

      {% for trait in data.traits %}
      <a class="trait" href="/trait/{{trait}}">{{trait}}</a>
      {% endfor %}
    </div>

    <div class="stat-section">
      {% markdown -%}
      {% include "item-primary.md" %}
      {% endmarkdown %}

      <hr>
    </div>

    {% if descr %}
    {{descr|md}}
    {% endif %}

    <div class="stat-section">
      {% for activation in data.activations %}
      {% markdown -%}
      {% include "item-activation.md" activation %}
      {% endmarkdown %}
      {% endfor %}
    </div>

    <div class="stat-section">
      {% for type in data.types %}
      <hr>
      {% markdown -%}
      {% include "item-type.md" type %}
      {% endmarkdown %}
      {% endfor %}
    </div>
    
    {% if data.craftRequirements %}
    <hr>
    {% markdown -%}
    **{{'Item.CraftRequirements'|l}}** {{data.craftRequirements}}
    {% endmarkdown %}
    {% endif %}

  </section>

  <section class="other">
    {% if notes %}
    <h3>{{'Common.Notes'|l}}</h3>
    {{notes|md}}
    {% endif %}

    {% if image %}
    <a href="{{env.dataURL}}{{image}}" target="_blank"><img style="width: 100%" src="{{env.dataURL}}{{image}}" /></a>
    {% endif %}
  </section>

  {% include "footer.html" %}

</main>
{% endblock %}