{% extends "base.html" %}
{% block content %}
<main id="ritual" class="container-fluid">
  <section class="stat-block" data-theme="light">
    <div class="header">
      <h1 class="title">{{name}}</h1>
      <div>
        {{'Entity.Ritual'|l|uppercase}} {{data.rank|default: '0'}}
      </div>
    </div>

    <div class="traits">
      {% if data.rarity and data.rarity != 'common' %}
      <a class="trait trait-rarity-{{data.rarity}}" href="/trait/{{data.rarity}}">{{data.rarity|map: 'Rarity'}}</a>
      {% endif %}

      {% for trait in data.traits %}
      <a class="trait" href="/trait/{{trait}}">{{trait}}</a>
      {% endfor %}
    </div>

    <div class="stat-section">
      {% markdown -%}
      {% include "ritual-primary.md" %}
      {% endmarkdown %}
    </div>

    <hr>

    {% if descr %}
    {{descr|md}}
    {% endif %}

  </section>

  <section class="other">
    {% if notes %}
    <h3>{{'Common.Notes'|l}}</h3>
    {{notes|md}}
    {% endif %}

    {% if image %}
    <a href="{{env.dataURL}}{{image}}" target="_blank"><img style="width: 100%" src="{{env.dataURL}}{{image}}" /></a>
    {% endif %}
  </section>

  {% include "footer.html" %}

</main>
{% endblock %}